@charset "utf-8";
#loading{
    transition: all 1s;
    background-color: gray;
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
}

.loaded{
    opacity: 0;
    visibility: hidden;
}

body{
    font-family: Yu Gothic UI;
    color:aliceblue;
    background-image: url("/img/dirt.png");
    background-size: cover;
    background-attachment: fixed;
}

header{
    display: flex;
    flex-direction: row-reverse;
    background-image: url("/img/grass.png");
    height: 100px;
}
h1{
    font-size: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px;
    font-weight: bold;
}
.select{
    margin: 30px;
    font-size: 20px;
}
h2{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    margin-top: 20px;
}

#photo{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1020px;
    margin: auto;
    padding: 10px;
}